<div id="mask" class="mask">

	<div
		style="text-align: left; position: absolute; height: 200px; width: 500; background-color: #fff; top: 1%; z-index: 200">
		<div style="">
			<table>
				<tr>
					<td><img alt="" id="logo" src="../../images/wait.gif"
						height="90%" width="90%" /></td>
					<td><span
						style="font-size: 14px; color: #000; font-family: arial">Please
							Wait</span><br> <span
						style="font-size: 12px; color: #aaa; font-family: arial">We
							are processing your request</span></td>
				</tr>
			</table>
		</div>
	</div>

</div>
<!DOCTYPE html>
<meta charset="utf-8">



<style>
.counties {
	fill: none;
}

.states {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.q0-9 {
	fill: rgb(247, 251, 255);
}

.q1-9 {
	fill: rgb(222, 235, 247);
}

.q2-9 {
	fill: rgb(198, 219, 239);
}

.q3-9 {
	fill: rgb(158, 202, 225);
}

.q4-9 {
	fill: rgb(107, 174, 214);
}

.q5-9 {
	fill: rgb(66, 146, 198);
}

.q6-9 {
	fill: rgb(33, 113, 181);
}

.q7-9 {
	fill: rgb(8, 81, 156);
}

.q8-9 {
	fill: rgb(8, 48, 107);
}
</style>
<body>


	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/queue.v1.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script>
		var width = 960, height = 500;

		var color = d3.scale.threshold().domain([ .02, .04, .06, .08, .10 ]).range([ "#f2f0f7", "#dadaeb", "#bcbddc", "#9e9ac8", "#756bb1", "#54278f" ]);

		var path = d3.geo.path();

		var svg = d3.select("body").append("svg").attr("width", width).attr("height", height);

		queue().defer(d3.json, "us.json").defer(d3.tsv, "us.tsv").await(ready);

		function ready(error, us, unemployment) {
			var rateById = {};

			unemployment.forEach(function(d) {
				rateById[d.id] = +d.rate;
			});

			svg.append("g").attr("class", "counties").selectAll("path").data(topojson.feature(us, us.objects.counties).features).enter().append("path").attr("d", path).style(
					"fill", function(d) {
						return color(rateById[d.id]);
					});

			svg.append("path").datum(topojson.mesh(us, us.objects.states, function(a, b) {
				return a.id !== b.id;
			})).attr("class", "states").attr("d", path);
			document.getElementById("mask").style.display = 'none';
		}
	</script>