<!DOCTYPE html>
<html lang="en" ng-app="appDetails">
  <head>
    <title>Banking - Case List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../plugins/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/font-awesome.min.css">
    
    <!-- PAGES CSS -->
    <link rel="stylesheet" href="../css/pages/banking-case-list.css">
    <link rel="stylesheet" type="text/css" href="../css/pages/overview.css">
	
	<!-- Chart JS -->
	<script src="../js/highcharts.js"></script>
	<script src="../js/circles.min.js"></script>
  </head>
  <body>
    <article class="mainWrapper container-fluid">
        <header>
            <div class="clearfix">
                <div class="pull-left">
                    <div class="poc-logo">
                       <img src="../images/poc-logo-banking.jpg">    
                    </div>
                </div>
                <div class="pull-right">
                    <div class="top">
                        <ul class="list-unstyled">
                            <li class="username">
                             <i class="fa fa-user" aria-hidden="true"></i> Hi! Mike Sommers
                            </li>
                            <li class="main-menu">
                                <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="submenu-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="../index.html" aria-controls="overview"><i class="fa fa-eye" aria-hidden="true"></i> Overview</a></li>
					<li role="presentation" class="active"><a href="../banking/index.html" aria-controls="banking"><i class="fa fa-database" aria-hidden="true"></i> Banking</a></li>
                    <li role="presentation"><a href="../technology/index.html" aria-controls="technology"><i class="fa fa-cogs" aria-hidden="true"></i> Technology</a></li>
                    <!--
					<li role="presentation" class="active"><a href="index.html" aria-controls="marketing-sales"><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Transaction Monitoring</a></li>
                    <li role="presentation"><a href="../false-negatives/index.html" aria-controls="underwriting"><i class="fa fa-thumbs-down" aria-hidden="true"></i>False Negatives</a></li>
                    <li role="presentation"><a href="../false-positives/index.html" aria-controls="loss-prevention"><i class="fa fa-thumbs-up" aria-hidden="true"></i> False Positives</a></li>
                    <li role="presentation"><a href="../pattern-analysis/index.html" aria-controls="pattern-analysis"><i class="fa fa-cubes" aria-hidden="true"></i> Pattern Analysis</a></li>
					-->
                </ul>
            </div>
        </header>
        <div class="main-content">
        	<div class="container-fluid" id="banking-case-list">
               <div class="main">
                    <div class="row">
                        <h1 class="pageTitle">Case Information</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 primaryAccountInfo">
                            <div class="panelContainer">
								<div class="panel-header accountInformation">
									<h4><i class="fa fa-key" aria-hidden="true"></i> Primary Account Information</h4>
								</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-7 leftPanel oneAcct">
                                            <ul class="nav nav-tabs acctInfoTab" role="tablist">
                                                <li class="active"><a href="#acctinfo" aria-controls="acctInfo" role="tab" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i>Account Information</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="acctinfo">
                                                    <div class="col-lg-12" ng-controller="AccountInformationCtrl">
                                                        <div class="row account">
                                                            <div class="col-lg-6">
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="detailsWrapper">
                                                                            <h4>Account <br/>Number</h4>
                                                                            <p>{{accountInformation.accountNumber}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="detailsWrapper">
                                                                            <h4>Account <br/>Type</h4>
                                                                            <p>{{accountInformation.accountType}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="detailsWrapper currentBalance">
                                                                            <h4>Current Balance</h4>
                                                                            <p>{{accountInformation.currentBalance | currency}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="detailsWrapper">
                                                                            <h4>Date <br/>Opened</h4>
                                                                            <p>{{accountInformation.dateOpened}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="detailsWrapper">
                                                                            <h4>Date <br/>Closed</h4>
                                                                            <p>{{accountInformation.dateClosed}}</p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-lg-12">
                                                                        <div class="detailsWrapper">
                                                                            <h4>Account Length</h4>
                                                                            <p>{{accountInformation.accountLength}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>	
                                                        </div>
                                                        <div class="row openCases">
                                                            <div class="col-lg-6">
                                                                <div class="detailsWrapper">
                                                                    <h4>Open Cases</h4>	
                                                                    <p>{{branchInformation.openCases}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="detailsWrapper">
                                                                    <h4>Case History</h4>
                                                                    <p ng-repeat="data in branchInformation.caseHistory">{{data.item}}</p>
                                                                </div>
                                                            </div>
                                                        </div>                                   
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-5 leftPanel">
                                            <ul class="nav nav-tabs acctInfoTab" role="tablist">
                                                <li class="active"><a href="#homeAddress" aria-controls="homeAddress" role="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i>Home Address</a></li>
                                                <li><a href="#workAddress" aria-controls="workAddress" role="tab" data-toggle="tab"><i class="fa fa-suitcase" aria-hidden="true"></i>Work Address</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="homeAddress">
                                                    <div class="col-lg-12 homeAddress" ng-controller="CurrentInformationCtrl">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Address</h4>
                                                                    <p>{{currentHomeAddress.address}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>City</h4>
                                                                    <p>{{currentHomeAddress.city}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>State</h4>
                                                                    <p>{{currentHomeAddress.state}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Zip</h4>
                                                                    <p>{{currentHomeAddress.zip}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Phone Number</h4>
                                                                    <p>{{currentHomeAddress.phoneNumber}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Cell Phone Number</h4>
                                                                    <p>{{currentHomeAddress.cellPhoneNumber}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Email Address</h4>
                                                                    <p>{{currentHomeAddress.email}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="workAddress">
                                                    <div class="col-lg-12 workAddress" ng-controller="CurrentInformationCtrl">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="detailsWrapper">
                                                                    <h4>Company Organization / Institution</h4>
                                                                    <p>{{currentWorkAddress.company}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="detailsWrapper">
                                                                    <h4>Position</h4>
                                                                    <p>{{currentWorkAddress.position}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Address</h4>
                                                                    <p>{{currentWorkAddress.address}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>City</h4>
                                                                    <p>{{currentWorkAddress.city}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>State</h4>
                                                                    <p>{{currentWorkAddress.state}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Zip</h4>
                                                                    <p>{{currentWorkAddress.zip}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Phone Number</h4>
                                                                    <p>{{currentWorkAddress.phoneNumber}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Cell Phone Number</h4>
                                                                    <p>{{currentWorkAddress.cellPhoneNumber}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="detailsWrapper">
                                                                    <h4>Email Address</h4>
                                                                    <p>{{currentWorkAddress.email}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 rightPanel">
                                            <ul class="nav nav-tabs acctInfoTab" role="tablist">
                                                <li class="active"><a href="#acctinfo" aria-controls="acctInfo" role="tab" data-toggle="tab"><i class="fa fa-folder-open" aria-hidden="true"></i>Recent Transactions</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tableContainer transactionsList" ng-controller="TransactionsCtrl">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Case Number</th>   
                                                                <th>Transaction Number</th>
                                                                <th>Transaction Type</th> 
                                                                <th>Origin Account Number</th>															
                                                                <th>Origin Account Type</th>
                                                                <th>Beneficiary Account Number</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="transaction in transactions">
                                                                <td>{{transaction.caseNo}}</td>
                                                                <td><a href="#" data-toggle="modal" data-target="#myModal" data-transaction-number="{{transaction.transactionNum}}">{{transaction.transactionNum}}</a></td>
                                                                <td>{{transaction.transactionType}}</td>
                                                                <td>{{transaction.origAccountNum}}</td>
                                                                <td>{{transaction.origAccountType}}</td>
                                                                <td>{{transaction.benignAccountNum}}</td>
                                                                <td>{{transaction.amount | currency}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 relatedAccounts">
                            <div class="panelContainer">
								<div class="panel-header relatedAccounts">
									<h4><i class="fa fa-users" aria-hidden="true"></i> Related Accounts</h4>
								</div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="tableContainer transactionsList">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>   
                                                        <th><i class="fa fa-home" aria-hidden="true"></i><p>Home Address</p></th>   
                                                        <th><i class="fa fa-suitcase" aria-hidden="true"></i><p>Work Address</p></th>
                                                        <th><i class="fa fa-user-circle" aria-hidden="true"></i><p>Account Name</p></th> 
                                                        <th><i class="fa fa-birthday-cake" aria-hidden="true"></i><p>Birth Date</p></th>
                                                        <th><i class="fa fa-book" aria-hidden="true"></i><p>SSN</p></th>
                                                        <th><i class="fa fa-address-card-o" aria-hidden="true"></i><p>Past Address</p></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="detailsWrapperListDetails ng-scope">
                                                                <a data-toggle="modal" data-target="#myModal2">
                                                                    <div class="details">
                                                                        <h5>Account #: 5295-2906-2928-5907</span></h5>
                                                                        <h5>Account Type: Mutual Funds</span></h5>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="detailsWrapperListDetails ng-scope">
                                                                <a>
                                                                    <div class="details">
                                                                        <h5>Account #: 5295-2906-2928-5907</span></h5>
                                                                        <h5>Account Type: Mutual Funds</span></h5>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="detailsWrapperListDetails ng-scope">
                                                                <a>
                                                                    <div class="details">
                                                                        <h5>Account #: 5295-2906-2928-5907</span></h5>
                                                                        <h5>Account Type: Mutual Funds</span></h5>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="detailsWrapperListDetails ng-scope">
                                                                <a>
                                                                    <div class="details">
                                                                        <h5>Account #: 5295-2906-2928-5907</span></h5>
                                                                        <h5>Account Type: Mutual Funds</span></h5>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="detailsWrapperListDetails ng-scope">
                                                                <a>
                                                                    <div class="details">
                                                                        <h5>Account #: 5295-2906-2928-5907</span></h5>
                                                                        <h5>Account Type: Mutual Funds</span></h5>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="detailsWrapperListDetails ng-scope">
                                                                <a>
                                                                    <div class="details">
                                                                        <h5>Account #: 5295-2906-2928-5907</span></h5>
                                                                        <h5>Account Type: Mutual Funds</span></h5>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td><div class="details"><i class="fa fa-check" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-times" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                        <td><div class="details"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="GetTransactionInfoCtrl">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-folder-open" aria-hidden="true"></i>Transaction Information</h4>
                      </div>
                      <div class="modal-body">
							<div class="panelContainer">
								<div class="row">
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Transaction Number</h4>
											<p>{{transactionInfo.transactionNumber}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Transaction Date</h4>
											<p>{{transactionInfo.transactionDate}}</p>
										</div>
									</div>
                                </div>
                                <div class="row">
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Transaction Type</h4>
											<p>{{transactionInfo.transactionType}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Amount</h4>
											<p>{{transactionInfo.amount}}</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Starting Balance</h4>
											<p>{{transactionInfo.startingBalance | currency}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper currentBalance">
											<h4>Current Balance</h4>
											<p>{{transactionInfo.balance | currency}}</p>
										</div>
									</div>
								</div>
								<div class="divider"></div>
								<div class="row">
								    <div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Teller Name</h4>
											<p>{{branchInfo.bankTellerName}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Bank Teller ID</h4>
											<p>{{branchInfo.bankTellerId}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Branch Information</h4>
											<p>{{branchInfo.branchInfo}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Branch ID</h4>
											<p>{{branchInfo.branchId}}</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Branch Manager</h4>
											<p>{{branchInfo.branchManager}}</p>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="detailsWrapper">
											<h4>Branch Contact Number</h4>
											<p>{{branchInfo.branchContactNum}}</p>
										</div>
									</div>
								</div>
							</div>
                      </div>

                    </div>
                  </div>
              </div> 
              <!-- END OF MODAL -->
              <!-- Modal -->
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="GetTransactionInfoCtrl">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-users" aria-hidden="true"></i>Related Accounts</h4>
                      </div>
                      <div class="modal-body">
						<div class="row">
                            <div class="col-lg-8 leftPanel">
                                <ul class="nav nav-tabs acctInfoTab" role="tablist">
                                    <li class="active"><a href="#acctinfo2" aria-controls="acctInfo2" role="tab" data-toggle="tab"><i class="fa fa-book" aria-hidden="true"></i></a></li>
                                    <li><a href="#homeAddress2" aria-controls="homeAddress2" role="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                                    
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="acctinfo2">
                                        <div class="col-lg-12" ng-controller="AccountInformationCtrl">
                                            <div class="row account">
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="detailsWrapper">
                                                                <h4>Account <br/>Number</h4>
                                                                <p>{{accountInformation.accountNumber}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="detailsWrapper">
                                                                <h4>Account <br/>Type</h4>
                                                                <p>{{accountInformation.accountType}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="detailsWrapper currentBalance">
                                                                <h4>Current Balance</h4>
                                                                <p>{{accountInformation.currentBalance | currency}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="detailsWrapper">
                                                                <h4>Date <br/>Opened</h4>
                                                                <p>{{accountInformation.dateOpened}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="detailsWrapper">
                                                                <h4>Date <br/>Closed</h4>
                                                                <p>{{accountInformation.dateClosed}}</p>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-lg-12">
                                                            <div class="detailsWrapper">
                                                                <h4>Account Length</h4>
                                                                <p>{{accountInformation.accountLength}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                            <div class="row openCases">
                                                <div class="col-lg-6">
                                                    <div class="detailsWrapper">
                                                        <h4>Open Cases</h4>	
                                                        <p>{{branchInformation.openCases}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="detailsWrapper">
                                                        <h4>Case History</h4>
                                                        <p ng-repeat="data in branchInformation.caseHistory">{{data.item}}</p>
                                                    </div>
                                                </div>
                                            </div>                                   
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="homeAddress2">
                                        <div class="col-lg-12 homeAddress" ng-controller="CurrentInformationCtrl">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>Address</h4>
                                                        <p>{{currentHomeAddress.address}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>City</h4>
                                                        <p>{{currentHomeAddress.city}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>State</h4>
                                                        <p>{{currentHomeAddress.state}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>Zip</h4>
                                                        <p>{{currentHomeAddress.zip}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>Phone Number</h4>
                                                        <p>{{currentHomeAddress.phoneNumber}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>Cell Phone Number</h4>
                                                        <p>{{currentHomeAddress.cellPhoneNumber}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="detailsWrapper">
                                                        <h4>Email Address</h4>
                                                        <p>{{currentHomeAddress.email}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                            <div class="col-lg-4 rightPanel">
                                <div class ="panelContainer">
                                    <div class="panelHeader">
                                        <h4><i class="fa fa-users" aria-hidden="true"></i> Entity Relationship Analysis</h4>
                                    </div>
                                    <div class="panelBody">
                                       <p>The following matches with the Primary Account:</p> 
                                       <ul>
                                          <li>Home Address</li>
                                          <li>Birth Date</li>
                                       </ul>
                                       
                                       <p>The following has a partial match with the Primary Account:</p> 
                                       <ul>
                                          <li>Account Name - Same Last Name</li>
                                          <li>Social Security Number - Same Last 4 digits</li>
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tableContainer transactionsList" ng-controller="TransactionsCtrl">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Case Number</th>   
                                                <th>Transaction Number</th>
                                                <th>Transaction Type</th> 
                                                <th>Origin Account Number</th>															
                                                <th>Origin Account Type</th>
                                                <th>Beneficiary Account Number</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="transaction in transactions">
                                                <td>{{transaction.caseNo}}</td>
                                                <td>{{transaction.transactionNum}}</td>
                                                <td>{{transaction.transactionType}}</td>
                                                <td>{{transaction.origAccountNum}}</td>
                                                <td>{{transaction.origAccountType}}</td>
                                                <td>{{transaction.benignAccountNum}}</td>
                                                <td>{{transaction.amount | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      </div>

                    </div>
                  </div>
              </div> 
              <!-- END OF MODAL -->
              </div>
        </div>
        </div>
        <footer>
            &copy;2017 RCG GLOBAL SERVICES
        </footer>
    </article>
    <script type="text/javascript"  src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript"  src="../js/bootstrap.min.js"></script>
    <script src="../plugins/owl/owl.carousel.min.js"></script>
    <script type="text/javascript"  src="../js/pages/plugins-banking.js"></script>
	
    <!-- Angular Graphs CSS -->
    <link rel="stylesheet" href="../node_modules/angular-nvd3/node_modules/nvd3/build/nv.d3.min.css"/>
    
    <!-- Angular Graphs JS -->
    <script src="../node_modules/angular-nvd3/node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-nvd3/node_modules/d3/d3.min.js" charset="utf-8"></script>
    <script src="../node_modules/angular-nvd3/node_modules/nvd3/build/nv.d3.min.js"></script>
    <script src="../node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="../js/app_case_list.js"></script>
    
	<script>	
	$(document).ready(function() {

        $('#myModal').on('show.bs.modal', function(e) {

            //get data-id attribute of the clicked element
            var transactionNo = $(e.relatedTarget).data('transaction-number');

            angular.element($("#myModal")).scope().getData(transactionNo);
        });
    }); 
    </script>
	
  </body>
</html>