/*** CSS FOR UNDERWRITING LOCATIONS PAGE ***/


#underwriting-locations h1.pageTitle {
    margin-bottom: 45px;
}

#underwriting-locations h2.headerDivision {
    margin: 0 0 40px;
    font-size: 18px;
}

/* locationRiskAssessmentDetails */

#underwriting-locations .locationRiskAssessmentDetails .graph .gcFull {
    height: 220px;
    background: #eee;
}

#underwriting-locations .locationRiskAssessmentDetails .graph {
    margin-bottom: 20px;
}

#underwriting-locations .locationRiskAssessmentDetails .graphDetails table {
    width: 250px;
}

#underwriting-locations .locationRiskAssessmentDetails .graphDetails table thead th:first-child {
    width: 130px;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk table thead th,
#underwriting-locations .locationRiskAssessmentDetails .graphDetails table thead th  {
    padding-left: 0 !important;
    font-size: 14px;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk table tbody td,
#underwriting-locations .locationRiskAssessmentDetails .graphDetails table tbody td {
    padding: 8px 0 !important;
    font-size: 13px;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .riskTitle {
    text-align:center;
    line-height: 30px;
    margin-bottom: 10px;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .riskTitle h2 {
    font-size: 14px;
    margin: 0;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: #222;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .riskTitle h2.riskCount {
    float: right;
    color: red;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .riskTitle span {
    float:left;
    height: 30px;
    width: 30px;
    background: #222;
    margin-right: 10px;
    color: #fff;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .col-lg-6 .panel {
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 280px;
    border-radius: 8px;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .col-lg-6 {
    margin-bottom: 10px;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .weather .riskTitle {
    border-bottom: 1px solid #6bbc6b;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .weather span {
    background: #6bbc6b;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .fire .riskTitle {
    border-bottom: 1px solid #ec9950;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .fire span {
    background: #ec9950;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .crime .riskTitle {
    border-bottom: 1px solid #2e77b5;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .crime span {
    background: #2e77b5;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .hail .riskTitle {
    border-bottom: 1px solid #6e0684;
}

#underwriting-locations .locationRiskAssessmentDetails .listRisk .hail span {
    background: #6e0684;
}

/* RlocationBuildingInformation */

#underwriting-locations .locationBuildingInformation {

    margin-bottom: 40px;
}

#underwriting-locations .locationBuildingInformation table tbody.three tr:nth-child(odd) {
    background: #f6eeda;
}

#underwriting-locations .locationBuildingInformation table tbody.four tr:nth-child(odd) {
    background: #def5ce;
}

#underwriting-locations .locationBuildingInformation table tbody.one tr:nth-child(odd) {
    background: #cee7f5;
}

#underwriting-locations .locationBuildingInformation table tbody.two tr:nth-child(odd) {
    background: #f6daf6;
}

#underwriting-locations .locationBuildingInformation table td {
    border: 0;
    padding: 5px 0 6px;
    font-size: 13px;
}

#underwriting-locations .locationBuildingInformation table td:first {
    border: 0;
    padding: 5px 0;
}

#underwriting-locations .locationBuildingInformation table th {
    border-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    font-size: 14px;
    color: #222;
}

#underwriting-locations .locationBuildingInformation table thead:after {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

#underwriting-locations .locationBuildingInformation table tbody:after {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}