/*** CSS FOR UNDERWRITING OVERVIEW PAGE ***/

#claims-overview h1.pageTitle {
   text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: 35px;
}

#claims-overview .panel-group {
    margin-bottom: 15px;
}

#claims-overview .panel-group .panel {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 15px;
}

#claims-overview #collapseTwo.panel-collapse {
    overflow-y: scroll;
}
#collapseInv .chart-icon {
    height: 9%;
    width: 23%;
}

#claims-overview #collapseSix.panel-collapse,
#claims-overview #collapseFive.panel-collapse,
#claims-overview #collapseTwo.panel-collapse {
    height: 570px;
}

#claims-overview #collapseSix.panel-collapse,
#claims-overview #collapseFive.panel-collapse {
    overflow-x: scroll;
}

#claims-overview #collapseThree.panel-collapse,
#claims-overview #collapseInv.panel-collapse,
#claims-overview #collapseOne.panel-collapse{
    overflow-x: scroll;
    height: 385px;
}


#claims-overview .panel-group .panel .panel-heading {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#claims-overview .panel-group .panel .panel-heading a {
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
    text-decoration: none;
}

#claims-overview .panel-group .panel .panel-heading a > i {
    position: absolute;
    right: 0px;
}

#claims-overview .panel-group .panel #headingOne {
  background: #d64040;
}

#claims-overview .panel-group .panel #headingTwo {
  background: #6bbc6b;  
}

#claims-overview .panel-group .panel #headingThree {
  background: #6bc8ce;
}

#claims-overview .panel-group .panel #headingFour {
  background: #ec9950; 
}

#claims-overview .panel-group .panel #headingFive {
  background: #6e0684;
}

#claims-overview .panel-group .panel #headingSix {
   background: #2e77b5; 
}

#claims-overview  .owl-carousel .owl-dots {
    display: none;
}

/* collapse 1 - Active Claims */

#claims-overview #collapseOne .row:nth-child(2) .col-lg-12 {
    margin-bottom: 20px;
}

#claims-overview #collapseOne .row:nth-child(2) .col-lg-12 > .row > .col-lg-6 > h4 {
    font-size: 14px;
    font-weight: 800;
    margin: 15px 0 5px 0;
}


#claims-overview h4.highlight {
    color: #c00000;
}

/* collapse 3 - Map */

#claims-overview #collapseThree .row .map {
    margin-top: 8px;
    margin-bottom: 8px;
}

#claims-overview #collapseThree .row .slider .riskTitle {
    color: #fff;
    text-align:center;
    background: #222;
    line-height: 30px;
    margin-bottom: 10px;
}

#claims-overview #collapseThree .row .slider .riskTitle h2 {
    font-size: 14px;
    margin: 0;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
}

#claims-overview #collapseThree .row .slider .riskTitle span {
    float:left;
    height: 30px;
    width: 30px;
    background: #c2317c;
    border-right: 1px solid #ddd;
    margin-right: 10px;
}

#claims-overview #collapseThree .item .panel {
    margin-bottom: 0;
}

#claims-overview #collapseThree .item .panel .row .col-lg-12 {
    padding: 0 35px;
}

#claims-overview #collapseThree .owl-nav {
    margin-top: 0 !important;
}

#claims-overview #collapseThree .owl-nav .owl-prev,
#claims-overview #collapseThree .owl-nav .owl-next {
    background: transparent !important;
    color: #ddd !important;
    padding: 0!important;
    margin: 0!important;
}

#claims-overview #collapseThree .owl-nav .owl-prev {
    position: absolute; 
    left: 0;
    top: 50%;
}

#claims-overview #collapseThree .owl-nav .owl-next {
    position: absolute; 
    right: 0;
    top: 50%;
}

/* collapse 4 - Top Stories */

#claims-overview #collapseInv .row:first-child {
    margin-bottom: 15px;
}

#claims-overview #collapseInv .panel {
	box-shadow: 0 0 0 !important;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-right: -15px;
}

#claims-overview #collapseInv h3 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 800;
	color: #444;
}

#claims-overview #collapseInv i {
	float: left;
	margin-right: 15px;
	font-size: 20px;
	margin-top: 10px;
}

#claims-overview #collapseInv li {
	border :0;
}

#claims-overview #collapseInv li:nth-child(even) {
	background: #ededed;
}

#claims-overview #collapseInv li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


#claims-overview #collapseInv li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


/* collapse 5 - Event Analytics */

#claims-overview #collapseFive .row:first-child {
    margin-bottom: 20px;
}

#claims-overview #collapseFive .row:first-child .col-lg-6 {
    text-align: center;
}

#claims-overview #collapseOne .row .col-lg-12 > h2 {
    font-size: 14px;
    font-weight: 800;
    margin: 0 0 5px;
}  

#claims-overview #collapseOne .row .col-lg-12 > .overallEstimate {
    font-size: 15px;
    font-weight: 800;
    color: #D2691E;
}  

#claims-overview #collapseFive .row:first-child .col-lg-6 > h4,
#claims-overview #collapseOne .row:first-child .col-lg-12 > h4 {
    font-size: 14px;
    font-weight: 800;
    margin: 15px 0 5px 0;
}  

/* collapse 6 - Claim History */


/* MODAL */


#claims-overview #myModal2 .modal-dialog {
    width: 95%;
}

#claims-overview #myModal2 .modal-body {
    padding-top: 10px;
}

#claims-overview #myModal2 .modal-content {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#claims-overview #myModal2 .modal-content .modal-header {
    background: #e26868;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

#claims-overview #myModal2 .modal-content .modal-header button {
    color: #fff;
    opacity: 1;
}

#claims-overview #myModal2 h2.headerDivision {
    margin: 0 0 20px;
    font-size: 18px;
}

/* locationRiskAssessmentDetails */

#claims-overview #myModal2 .locationRiskAssessmentDetails .graph .gcFull {
    height: 247px;
    background: #eee;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .graph {
    margin-bottom: 20px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .graph .tableContainer {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk table thead th,
#claims-overview #myModal2 .locationRiskAssessmentDetails .graph table thead th  {
    padding-left: 0 !important;
    font-size: 14px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk table tbody td,
#claims-overview #myModal2 .locationRiskAssessmentDetails .graph table tbody td {
    padding: 8px 0 !important;
    font-size: 11px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .item {
    padding: 0 15px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .riskTitle {
    text-align:center;
    line-height: 30px;
    margin-bottom: 10px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .riskTitle h2 {
    font-size: 14px;
    margin: 0;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 800;
    color: #222;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .riskTitle h2.riskCount {
    float: right;
    color: red;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .riskTitle span {
    float:left;
    height: 30px;
    width: 30px;
    background: #222;
    margin-right: 10px;
    color: #fff;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .col-lg-6 .panel {
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 280px;
    border-radius: 8px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .col-lg-6 {
    margin-bottom: 10px;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .weather .riskTitle {
    border-bottom: 1px solid #6bbc6b;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .weather span {
    background: #6bbc6b;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .fire .riskTitle {
    border-bottom: 1px solid #ec9950;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .fire span {
    background: #ec9950;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .crime .riskTitle {
    border-bottom: 1px solid #2e77b5;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .crime span {
    background: #2e77b5;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .hail .riskTitle {
    border-bottom: 1px solid #6e0684;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .listRisk .hail span {
    background: #6e0684;
}

#claims-overview #myModal2 .locationRiskAssessmentDetails .owl-nav {
    margin: 0;
}




/* RlocationBuildingInformation */

#claims-overview #myModal2 .locationBuildingInformation .row ul {
    margin: 0;
    padding: 0;
}

#claims-overview #myModal2 .locationBuildingInformation .row ul.address {
    margin-top: 50px;
}

#claims-overview #myModal2 .locationBuildingInformation .row ul.address li .icon {
    background: #2e77b5;
}

#claims-overview #myModal2 .locationBuildingInformation .row ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

#claims-overview #myModal2 .locationBuildingInformation .row ul li .icon {
    float:left;
    font-size: 20px;
    background: #e26868;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align:center;
    line-height: 50px;
}

#claims-overview #myModal2 .locationBuildingInformation .row ul li .details {
    float:left;
    margin-left: 10px;
    width: 109px;
    word-break: break-all;
}


#claims-overview #myModal2 .locationBuildingInformation .row ul li .details h4 {
    font-size: 14px;
    font-weight: 800;
    margin: 5px 0 5px 0;
}


#claims-overview #myModal2 .locationBuildingInformation .row ul li .details p {
    margin: 0;
}

#claims-overview #myModal2 .locationBuildingInformation table tbody.one tr:nth-child(odd) {
    background: #cee7f5;
}

#claims-overview #myModal2 .locationBuildingInformation table tbody.two tr:nth-child(odd) {
    background: #f6daf6;
}

#claims-overview #myModal2 .locationBuildingInformation table td {
    border: 0;
    padding: 5px 0 6px;
    font-size: 13px;
}

#claims-overview #myModal2 .locationBuildingInformation table td:first {
    border: 0;
    padding: 5px 0;
}

#claims-overview #myModal2 .locationBuildingInformation table th {
    border-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    font-size: 14px;
    color: #222;
}

#claims-overview #myModal2 .locationBuildingInformation table thead:after {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

#claims-overview #myModal2 .locationBuildingInformation table tbody:after {
    content: "-";
    display: block;
    line-height: 10px;
    color: transparent;
}

#claims-overview #myModal2 .locationBuildingInformation table.locationAttributes {
    width: 369px;
}

#claims-overview #myModal2 .locationBuildingInformation table.locationAttributes tbody td:first-child {
    width: 163px;
}

#claims-overview #myModal2 .locationBuildingInformation table.locationAttributes thead:before {
    content: "-";
    display: block;
    line-height: 20px;
    color: transparent;
}





/* TABLE */

 #claims-overview .table {
    overflow-x: scroll;
    margin-bottom: 0;
}

#claims-overview #collapseFive table,
#claims-overview #collapseInv table,
#claims-overview #collapseOne table,
#claims-overview #collapseSix table {
    width: 680px
}

#claims-overview .table thead th {
    font-size: 11px;
    padding-top: 0;
}

#claims-overview .table tbody td {
    font-size: 11px;
    width: 100px;
}

#claims-overview .table tbody td.address,
#claims-overview .table tbody td.readings  {
    width: 150px;
}	

#claims-overview .table tbody td.graph {
    margin: 0;
    padding: 0 2px;
    vertical-align: middle;
    width: 40px;
}	

#claims-overview .table tbody td.assessment {
    width: 20px;
}

    
.co-Yes {
    background-color: #F8CBAD;
}
.co-Benign {
    background-color: #C6E0B4;
}

.red {
	color: #fff;
    background-color: #e42626;
    border-color: #e42626;
}

.grey {
	color: #fff;
    background-color: #8c959c;
    border-color: #8c959c;
}

.purple {
	color: #fff;
    background-color: #b39bce;
    border-color: #b39bce;
}

.yellow {
	color: #fff;
    background-color: #d8cd4d;
    border-color: #d8cd4d;
}

.blue {
	color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.tr-grey {
    background-color: #F2F2F2;
}

.tr-red {
    background-color: #e4c6c6;
}

.tr-orange {
    background-color: #e2c6aa;
}

.tr-purple {
    background-color: #DCE5F4;
}


/* TD COLORS */

.td.medium {
    background-color: #F4CD8B;
}

.td.none {
    background-color: #7FADAD;
    color: #fff;
}

.td.low {
    background-color: #B7CCCC;
}

.td.high {
    background-color: #E7A365;
    color: #fff;
}

.red.focus, .red:focus, .red:hover,
.grey.focus, .grey:focus, .grey:hover,
.purple.focus, .purple:focus, .purple:hover,
.yellow.focus, .yellow:focus, .yellow:hover,
.blue.focus, .blue:focus, .blue:hover {
    color: #fff !important;
    text-decoration: none;
}

.btn-group-sm > .btn .calamityNames {
	cursor: pointer;
}

#map {
	height: 300px;
}