h1.pageTitle {
   text-align: center;
   font-size: 25px;
   margin-bottom: 0;
   margin-top: 35px;
} 

/* graph */

.ng-scope .nv-focus text {
    font-family: "Lato";
}

.ng-scope .nvd3.nv-legend text {
    font-family: "Lato";
}

.ng-scope .nv-focus {
    margin-top: 30px !important;
}


#banking-false-negatives.container {
    max-width: 1500px !important;
}  

#banking-transaction-monitoring.container .main {
    min-height: 900px !important;
}

#banking-transaction-monitoring .summary > .summaryContainer {
    margin: 10px auto 35px;
    padding: 15px 0;
    width: 860px;
}

#banking-transaction-monitoring .summary > .summaryContainer .summaryBox {
    float:left;
    margin-right: 20px;
}

#banking-transaction-monitoring .summary > .summaryContainer .summaryBox:last-child {
    margin-right: 0;
}

#banking-transaction-monitoring .summary > .summaryContainer .box {
    float:left;
}

#banking-transaction-monitoring .summary > .summaryContainer .icon-container {
    text-align: center;
    height: 60px;
    background: #24619b;
    color: #fff;
    width:70px;
    font-size: 25px;
    display: table;
}

#banking-transaction-monitoring .summary > .summaryContainer .icon-container i {
    display: table-cell;
    vertical-align: middle;
}

#banking-transaction-monitoring .summary > .summaryContainer .details-container {
    height: 60px;
    background: #edf0f3;
    color: #fff;
    width: 130px;
    color: #444;
    padding-left: 11px;
    display: table;
}

#banking-transaction-monitoring .summary > .summaryContainer .details-container > div {
    display: table-cell;
    vertical-align: middle;
}

#banking-transaction-monitoring .summary > .summaryContainer .details-container p {
    margin: 0;
    font-size:12px;
}

#banking-transaction-monitoring .summary > .summaryContainer .details-container h3 {
    margin: 3px 0 0;
    font-weight: 800;
    font-size: 22px;
}


#banking-transaction-monitoring .panel-group {
    margin-bottom: 15px;
}

#banking-transaction-monitoring .panel-group .panel {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 15px;
}

#banking-transaction-monitoring #collapseOne.panel-collapse  {
    height: 465px;
}

#banking-transaction-monitoring #collapseTwo.panel-collapse,
#banking-transaction-monitoring #collapseFive.panel-collapse,
#banking-transaction-monitoring #collapseSix.panel-collapse {    
    height: 370px;
}

#banking-transaction-monitoring #collapseTwo.panel-collapse,
#banking-transaction-monitoring #collapseThree.panel-collapse,
#banking-transaction-monitoring #collapseInv.panel-collapse,
#banking-transaction-monitoring #collapseFive.panel-collapse,
#banking-transaction-monitoring #collapseSix.panel-collapse {    
    overflow: scroll;
}


#banking-transaction-monitoring .panel-group .panel .panel-heading {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#banking-transaction-monitoring .panel-group .panel .panel-heading a {
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
    text-decoration: none;
}

#banking-transaction-monitoring .panel-group .panel .panel-heading a > i {
    position: absolute;
    right: 0;
}

#banking-transaction-monitoring .panel-group .panel #headingOne {
  background: #6bbc6b;  
}

#banking-transaction-monitoring .panel-group .panel #headingTwo {
  background: #d64040;
}

#banking-transaction-monitoring .panel-group .panel #headingThree {
  background: #6bc8ce;
}

#banking-transaction-monitoring .panel-group .panel #headingFour {
  background: #ec9950; 
}

#banking-transaction-monitoring .panel-group .panel #headingFive {
  background: #6e0684;
}

#banking-transaction-monitoring .panel-group .panel #headingSix {
   background: #2e77b5; 
}

#banking-transaction-monitoring  .owl-carousel .owl-dots {
    display: none;
}


/* collapse 1 */

#banking-transaction-monitoring #collapseOne .graph {
    background: #ddd;
    height: 200px;
    margin-bottom: 15px;
}

#banking-transaction-monitoring .statusBreakdown {
	margin-top: 20px;
	text-align: center;
}

#banking-transaction-monitoring .statusBreakdown ul {
    margin: 0;
    padding: 0;
}

#banking-transaction-monitoring .statusBreakdown ul li {
    list-style-type: none; 
    display:inline-block;
    margin-right: 15px;
}

#banking-transaction-monitoring .statusBreakdown ul li p:first-child,
#banking-transaction-monitoring .statusBreakdown .total p:first-child {
    margin: 0;
    font-weight: 800;
}

#banking-transaction-monitoring .statusBreakdown ul li:last-child {
    margin-right: 0;
}

#banking-transaction-monitoring  .statusBreakdown .total {
    text-align: center;
}

#banking-transaction-monitoring .statusBreakdown .total p:first-child  {
   font-size: 20px;
}

#banking-transaction-monitoring  .statusBreakdown .total p {
   font-size: 25px;
   margin: 0;
}
#banking-transaction-monitoring .statusBreakdown .total p span {
    display:block;
    font-weight: normal;
}

/* collapse 2 */

#banking-transaction-monitoring #collapseThree .graph.benign,
#banking-transaction-monitoring #collapseThree .graph.openCases {
    background: #ddd;
    height: 100px;
    margin-bottom: 15px;
}


/* collapse 3 */

#banking-transaction-monitoring #collapseThree .graph {
    background: #ddd;
    height: 200px;
    margin-bottom: 15px;
}

#banking-transaction-monitoring #collapseThree h4 {
    font-size: 14px;
    font-weight: 800;
    color: #d64040;
    text-align:center;
}

#banking-transaction-monitoring #collapseThree h4.benign {
    color: #6bbc6b;
}

/* collapse 4 */
       
		
		#banking-transaction-monitoring  #activeCasesPicto {
			float: left;
			padding: 0 0 30px;
			margin: 0;
		}
		
        #banking-transaction-monitoring #activeCasesPicto .thumbnail .caption {
            text-align: center; 
			padding: 0 9px;
        }

        #banking-transaction-monitoring #activeCasesPicto .thumbnail .caption h3 {
            font-size: 18px;
            font-weight: 800;
            margin: 0 0 10px;
        }

        #banking-transaction-monitoring #activeCasesPicto .thumbnail .caption h4 {
            font-size: 15px;
            margin: 0 0 5px;
        }

        #banking-transaction-monitoring #activeCasesPicto .thumbnail .caption p {
            font-size: 11px;
            margin: 0 0 15px;
        }
		
		#banking-transaction-monitoring  #activeCasesPicto > .item {
			width: 120px;
			float: left;
		}
		
		#banking-transaction-monitoring  .thumbnail {
			padding: 0;
			margin: 0;
			border: 0;
		}
    
    /* TABLE */
        #banking-transaction-monitoring .tableContainer {
            /*overflow-x: scroll;*/
        }
		
        #banking-transaction-monitoring .table {
            overflow-x: scroll;
            margin-bottom: 0;
        }
        #banking-transaction-monitoring .table thead th {
            font-size: 11px;
            padding-top: 0;
        }
        
        #banking-transaction-monitoring .table tbody td {
            font-size: 11px;
			width: 100px;
        }
		
		#banking-transaction-monitoring .table tbody td:first-child {
         	width: 60px;
        }			
		
		#banking-transaction-monitoring  #collapseInv .table tbody td:first-child {
         	width: 140px;
        }			
		
		#banking-transaction-monitoring #collapseTwo table,
        #banking-transaction-monitoring #collapseFive table,
        #banking-transaction-monitoring #collapseSix table {
            width: 980px;
        }
        

/* collapse 5 */

#banking-transaction-monitoring #collapseFive {
    
}
    /* MODAL */
    
        #banking-transaction-monitoring .modal-dialog {
            width: 900px;
        }
        
        #banking-transaction-monitoring .modal-dialog .modal-content {
            border-radius: 8px;
            border: 0;
        }
        
        #banking-transaction-monitoring .modal-dialog .modal-content .modal-header {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background: #c2317c;
            color: #fff;
            border: 0;
            padding: 6px 15px;
        }
        
        #banking-transaction-monitoring .modal-dialog .modal-content .modal-header .close {
            color: #fff;
            opacity: 1;
        }
        
        #banking-transaction-monitoring .modal-dialog .modal-body > .row {
            margin-bottom: 20px;
        }
        
        #banking-transaction-monitoring .modal-dialog .modal-body > .row:last-child {
            margin-bottom: 0;
        }
        
        #banking-transaction-monitoring .modal-dialog p:first-child {
            margin:0;
            font-size: 13px;
            font-weight: 800;
        }
        
        #banking-transaction-monitoring .modal-dialog .col-lg-6 .row:first-child {
            margin-bottom: 20px;
        }
      
        #banking-transaction-monitoring .modal-dialog .state {
            float: left;
            margin-right: 35px;
        }
    
   
.co-Yes {
    background-color: #F8CBAD;
}
.co-Benign {
    background-color: #C6E0B4;
}